<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lms.mapper.RoleMapper">

    <resultMap id="BaseResultMap" type="com.lms.entity.Role">
            <id property="roleid" column="RoleID" jdbcType="INTEGER"/>
            <result property="rolename" column="RoleName" jdbcType="VARCHAR"/>
            <result property="createdtime" column="CreatedTime" jdbcType="TIMESTAMP"/>
            <result property="rolestatus" column="RoleStatus" jdbcType="VARCHAR"/>
            <result property="remarks" column="Remarks" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        RoleID,RoleName,CreatedTime,
        RoleStatus,Remarks
    </sql>
    <select id="selectByRoleid" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from role
        where
        RoleID = #{roleid,jdbcType=NUMERIC}
    </select>
</mapper>
